@font-face {
    font-family:"govwf_fz202408211724209021250";
    src:url("govwf_fz202408211724209021250.woff") format("woff"), /* chrome, firefox */
    url("govwf_fz202408211724209021250.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fz202408211724209021250.svg#govwf_fz202408211724209021250") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fz202408211724209021250";
    src: url("govwf_fz202408211724209021250.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
