@font-face {
    font-family:"govwf_fz202308101691647956702";
    src:url("govwf_fz202308101691647956702.woff") format("woff"), /* chrome, firefox */
    url("govwf_fz202308101691647956702.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fz202308101691647956702.svg#govwf_fz202308101691647956702") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fz202308101691647956702";
    src: url("govwf_fz202308101691647956702.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
