@font-face {
    font-family:"govwf_fz_7055229_1393128709";
    src:url("govwf_fz_7055229_1393128709.woff") format("woff"), /* chrome, firefox */
    url("govwf_fz_7055229_1393128709.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fz_7055229_1393128709.svg#govwf_fz_7055229_1393128709") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fz_7055229_1393128709";
    src: url("govwf_fz_7055229_1393128709.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
