@font-face {
    font-family:"govwf_fz202408301725019102330";
    src:url("govwf_fz202408301725019102330.woff") format("woff"), /* chrome, firefox */
    url("govwf_fz202408301725019102330.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fz202408301725019102330.svg#govwf_fz202408301725019102330") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fz202408301725019102330";
    src: url("govwf_fz202408301725019102330.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
