@font-face {
    font-family:"govwf_fz202308101691638570694";
    src:url("govwf_fz202308101691638570694.woff") format("woff"), /* chrome, firefox */
    url("govwf_fz202308101691638570694.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fz202308101691638570694.svg#govwf_fz202308101691638570694") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fz202308101691638570694";
    src: url("govwf_fz202308101691638570694.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
