/*政府工作报告板块start*/
#zfgzbg_box {
	background: url(20dabaogao_outbg.jpg) no-repeat center 0 ;
	height: 900px;
}
/* 解决滚动条都显示的问题 */
.nicescroll-rails,.addScroll{
	display: none;
}
#ascrail2000{
	display: block;
}
.zfgzbgqw20210219{
	width: 1100px;
	margin: 50px auto 0;
}
.zhj-report {
	margin: 0px auto;
	width: 1100px;
}

.zhj-report-body {
	position: relative;
	background: url(20dabaogao_inbg.png) no-repeat center 0;
	font-family: "microsoft yahei";
	margin:18px auto 0;
	height: 730px;
}

.zhj-report-left {
	width: 166px;
	position: relative;
	margin-top: 200px;
	
}
.zhj-report-left ul {
    position: absolute;
    left: -32px;
    top: 23px;
    width: 166px;
}

.zhj-report-left ul li {
	font-family: "microsoft yahei";
    font-size: 20px;
    cursor: pointer;
    width: 166px;
    height: 59px;
    line-height: 59px;
	background: url(./baogao_icon.png) 0 0 no-repeat;
	margin-bottom: 12px;
}

.zhj-report-left ul li.on {
	font-size: 22px;
	background: url(./baogao_icon_active.png) 0 0 no-repeat;
	font-weight: bold;
}

.zhj-report-left ul li a {
    color: #dc0010;
	padding-left: 67px;
}
.zhj-report-left ul li.on a {
	color: #dc0010;
}
.zhj-report-left ul li a:hover {
	color: #dc0010;
}



.zhj-report-right {
	float: left;
	margin-top: 50px;
}
.event_box {
	width: 850px;
    height: 540px;
    
}
.zhj-report-right ul.first_ul .parBd {
	background: url(./2019zfgbbg.png) repeat-y;
}



.zhj-report-right ul.first_ul {
	background: none;
	margin-top: 0px;
}
.dys_conference_schedule_scroll{
		height: 76px;
		margin-bottom: 10px;
	}
.slimScrollDiv{
		padding-right: 25px;
	}
.zhj-bbqw-cont {
	line-height: 32px;
	width: 760px;
	margin: 0 auto;
}
.zhj-bgqw{
		padding-top: 20px;
	}
.zhj-bgqw h3 {
	font-size: 24px;
	line-height: 34px;
	color: #065897;
	text-align: center;
}

.zhj-bgqw h3 span {
	display: block;
	font-size: 16px;
	color: #212121;
	font-weight: normal;
}

.zhj-bgqw-cont {
	margin-top: 15px;
	line-height: 32px;
}


.zhj-bbjd li, .zhj-bgzy li {
	line-height: 54px;
	font-size: 18px;
	border-bottom: 1px dashed #e60517;
	overflow-x: hidden;
	padding-left: 10px;
	/* background: url(./small_square.jpg) 0 27px no-repeat; */
}

.zhj-bbjd li .date, .zhj-bgzy li .date{
	float: right;
	color: #787878;
}


.event_box {
	position: relative;
}

.event_box .parHd {
	width: 672px;
	margin: 0 auto 20px;
	height: 64px;
	*+height: 64px;
	overflow: hidden;
	*+position: relative;
}

.parHd ul {
	width: 100%;
	text-align: center;
	margin: 0 auto;
	height: 64px;
	*+height: 64px;
	position: relative;
}

.parHd .tempWrap {
	margin: 0 auto;
}

.parHd li {
	display: inline;
	float: left;
	width: 68px;
	height: 58px;
	*+height: 75px;
	cursor: pointer;
	font-size: 16px;
	color: #000;
	margin: 0 8px;
	background: url(./zf_sudu_2021.png) 0 -70px no-repeat;
	padding: 6px 0 0;
	line-height: 20px;
}


.parHd li.act {
	background: url(./zf_sudu_2021.png) 0 -1px no-repeat;
	color: #fff;
}

.parHd li.act a {
	color: #fff;
}

.parBd {
	text-align: center;
	position: relative;
	height: 640px;
}

div#listBox {
	width: 100%;
}

.sPrev,
.sNext {
	width: 35px;
	height: 35px;
	display: block;
	position: absolute;
	top: 50%;
	cursor: pointer;
	background: url(./20220daarrow_btn.png) 0 0 no-repeat;
	z-index: 100;
}

.pos_btns .sPrev {
	left: -20px;
	background-position: 0 0;
}

.pos_btns .sNext {
	right: 0;
	background-position: 0 -35px;
}

.sPrev img,
.sNext img {
	transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
	-moz-transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
	-webkit-transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
	-o-transition: all .6s cubic-bezier(.51, 1.1, .9, .95);
}

.text-right {
	text-align: right;
	position: absolute;
	right: 	10px;
	bottom: 48px;
	width: 120px;
	height: 32px;
	border-radius: 11px;
	border: 1px solid #c11523;
	text-align: center;
	border-radius: 7px;
}


.zhj-report .slideBox {
    text-align: left;
    padding: 10px 26px 0;
    height: 540px;
    display: none;
    overflow: hidden;
}

.zhj-report-tit {
	height: 50px;
	overflow: hidden;
	background: url(./zhj-report-tit_2021.png) top left no-repeat;
	font-size: 24px;
	font-weight: bold;
	line-height: 34px;
	padding-bottom: 18px;
}
.zhj-report-con{
	background: url(./suduban_line.png) repeat;
}
.zhj-tl {
	display: inline-block;
	width: 154px;
	height: 50px;
	padding: 0 4px;
	line-height: 48px;
	text-align: center;
	color: #fff;
	float: left;
	margin-right: 16px;
	font-size: 24px;
}

.zhj-tl_bx {
	padding-top: 8px;
	text-align: center;
}

.slideBox .long_i {
	width: 156px;
	background: url(./zf_sudu_i2.png) 0 0 no-repeat;
}

.zhj-report-tit a {
	color: #c11523;
}

.zhj-tl a {
	color: #fff;
}

.parBd p {
	font-size: 20px;
	line-height: 42px;
	text-indent: 2em;
	color: #313131;
}

.zhj-detail a {
	color: #c11523;
	height: 30px;
	line-height: 30px;
	font-size: 18px;
}
h5.dys_seconds_executive_standing_title{margin-bottom: 20px;}

.addScroll{
	height: 540px;
}


/*政府工作报告板块end*/
