.main_title{text-align: center;color: #015293;font-size: 32px; line-height: 80px;margin: 40px 0;}
.box1_title{border-bottom: 1px solid #e5e5e5;margin-bottom: 35px;}
.box1_title h4 {display: inline-block;}
.box1_title .active {border-bottom: 4px solid #015293;}
.box1_title a,.box1_title span{font-size: 28px;line-height: 50px; color:#909090;}
.box1_title .active a{color: #015293;}
.box1_title .line{padding: 0 20px;}
.box_con .item {width: 578px; display: inline-block;margin-bottom:15px;margin-right: 58px;}
.box_con .item:nth-child(2n){margin-right: 0;}
.box_con h5{ margin-bottom:10px;border-bottom: 1px solid #e5e5e5;height: 30px;}
.box_con h5 a{color:#015293; display: inline-block;float: left; font-size: 14px;font-weight: normal;}
.box_con h5 .box_con_title{border-left: 3px solid #015293;line-height: 20px;font-size: 20px;padding-left: 6px;}
.box_con h5 .more{float: right;line-height: 34px;}
.box_con ul li{color: #333333;font-size: 16px;line-height: 36px;padding-left: 16px;background: url(lidian.jpg) 0 center  no-repeat;}
.box1_more{text-align: center;}
.box1_more a{font-size: 20px;color: #015293;line-height: 40px;font-weight: bold;}
.box2{position: relative;width: 100%;height:156px ;background: url(20230808bmfdt.jpg);margin: 40px 0 24px;}
.box2 h1{position: absolute;display: inline-block;top: 54px;left: 284px;font-size: 30px;}
.box2 h4{position: absolute;display: inline-block;width: 144px;height: 56px;background: url(20230808bmdfbg.png) 0 0 no-repeat; top: 50px; right: 282px;text-align: center;}
.box2 h4.bm{right: 444px;}
.box2 h4 a{display: inline-block;width: 144px;height: 50px;line-height: 56px;font-size: 26px;}
.box3{margin-bottom: 100px;overflow:hidden ;}
.box3 li{background: url(20230808yzmsdsbg.jpg) #f6f6f6 0 0 no-repeat;float:left;display: inline-block;padding: 28px;width: 324px;margin-right: 40px;}
.box3 li:nth-child(2){background-image: url(20230808yzbmtx.jpg); }
.box3 li:nth-child(3){background-image: url(20230808blt.jpg);margin-right: 0px; }

.box3 li h5{font-size: 20px;line-height: 20px;}
.box3 li p {
    font-size: 16px;
    color: #535353;
    line-height: 30px;
    margin: 36px 0;
    height: 60px;
    overflow: hidden;
}
.box3 .box3_more{display:inline-block;width: 106px;height: 32px;line-height:32px;color:#fff;background:  #015293;border-radius: 15px;text-align: center; float: right;}
.box3 li:nth-child(2) .box3_more{background-color: #30afce;}
.box3 li:nth-child(3) .box3_more{background-color: #e37e7e; }
.box1_title .line{
	position: relative;
}

@media screen and (max-width: 767px) {
    .content{width: 96%;padding: 0 2%;}
    .box1_title{margin-bottom: 30px;}
    .box_con h5{height: 40px;}
    .box_con h5 .box_con_title{font-size: 25px;line-height: 30px;}    
    .box_con h5 .more{font-size: 18px;}
    .box_con .item{width: 100%;margin-right: 0;}
    .box_con ul li{font-size: 24px;line-height: 50px;}
	.box1_more {
	    margin-bottom: 30px;
	}
    .box1_more a{font-size: 30px;}
    .box3 li{width: 90%;text-align: center;margin: 0 auto;margin: 0 0 20px 0;}
    .box2 h1 {
        top: 18px;
        left: 55%;
        margin-left: -130px;
    }
    .box2 h4{right: 24%;top: 80px;}
    .box2 h4.bm {right: 0;left: 24%;}
	.box3{
		margin-bottom: 50px;
	}
	.box3 li p{
		font-size: 24px;
		margin:16px 0;
		text-align: left;
	}
	
	.box3 li h5{
		font-size: 25px;
	}
	.box2{
		margin: 0 0 24px;
	}
}