@font-face {
    font-family:"govwf_fzzhunysk_ys_285840259";
    src:url("govwf_fzzhunysk_ys_285840259.woff") format("woff"), /* chrome, firefox */
    url("govwf_fzzhunysk_ys_285840259.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fzzhunysk_ys_285840259.svg#govwf_fzzhunysk_ys_285840259") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fzzhunysk_ys_285840259";
    src: url("govwf_fzzhunysk_ys_285840259.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}