@font-face {
    font-family:"FZZHUNYSK";
    src:url("gtrs_FZZHUNYSK.woff") format("woff"), /* chrome, firefox */
    url("gtrs_FZZHUNYSK.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("gtrs_FZZHUNYSK.svg#FZZHUNYSK") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"FZZHUNYSK";
    src: url("gtrs_FZZHUNYSK.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
