.container{
    padding: 0 !important;
}
.gq_content{
    padding: 40px 0 0;
}
.leftPart{
    margin: 0 28px;
    float: none;
    width: auto;
}
.box1_txt{
    width: auto;
    margin: 0;
}
.box1_txt_title{
    border-bottom: 1.5px solid #dedede;
    height: 60px;
    box-sizing: border-box;
}
.lmtit a{
    font-size: 40px;
    font-family: auto !important;
    font-weight: bold;
    line-height: 60px;
    color: #333;
    border-bottom: 6px solid #015293;
}
.box1_txt_con{
    margin-top: 32px;
    text-indent: 2em;
    line-height: 56px;
    font-size: 32px;
    color: #000;
    padding: 0 2px;
    font-family: "microsoft yahei";
}
.box1_img{
    margin-top: 22px;
}
.box1_img img{
    width: 100%;
    height: 846px;
}
.leftPartBox2 {
    width: auto;
    height: auto;
    margin: 0;
    background: none;
    margin-top: 25px;
    padding: 48px 72px 48px 42px;
    -webkit-box-shadow: 0 0 30px #e5e3e3;
    -moz-box-shadow: 0 0 30px #e5e3e3;
    box-shadow: 0 0 30px #e5e3e3;
}
.box2_td2 ul li, .box2_td3 ul li {
    float: none;
}
.leftPartBox2  a{
    font-size: 32px;
}
.box2_td1, .box2_td2 ul li, .box2_td3 ul li{
    position: relative;
    line-height: 66px;
    background: url(m_gq_dot_5px.png) no-repeat;
    background-size: 12px;
    background-position: 0px 27px;
    padding-left: 30px;
}
.rightPart{
    width: auto;
    float: none;
    padding: 0;
    margin: 0 28px;
    margin-top: 50px;
}
.lmtit{
    border-bottom: 1.5px solid #dedede;
}
.rightPart_1 a, .rightPart_2 a, .rightPart_3 a{
    border: none;
}
.rightPart_1 .lmtit, .rightPart_2 .lmtit, .rightPart_2 .lmtit{
    height: 66px;
    line-height: 66px;
}
.lmImg img{
    width: 600px;
    margin: 0 auto;
    display: block;
}
.rightPart .lmImg{
    margin-top: 28px;
}
.rightPart .lmdlown{
    background: none;
    line-height: 100px;
    font-size: 32px;
}
.rightPart>div {
    margin-bottom: 20px;
}