@font-face {
    font-family:"govwf_fz_7056740_1461317432";
    src:url("govwf_fz_7056740_1461317432.woff") format("woff"), /* chrome, firefox */
    url("govwf_fz_7056740_1461317432.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fz_7056740_1461317432.svg#govwf_fz_7056740_1461317432") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fz_7056740_1461317432";
    src: url("govwf_fz_7056740_1461317432.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
