@font-face {
    font-family:"govwf_fz_7047773_853599068";
    src:url("govwf_fz_7047773_853599068.woff") format("woff"), /* chrome, firefox */
    url("govwf_fz_7047773_853599068.ttf") format("truetype"), /* chrome, firefox, opera, Safari, Android, iOS 4.2+ */
    url("govwf_fz_7047773_853599068.svg#govwf_fz_7047773_853599068") format("svg"); /* iOS 4.1- */
    font-style: normal;
    font-weight: normal;
}
@font-face {
    font-family:"govwf_fz_7047773_853599068";
    src: url("govwf_fz_7047773_853599068.eot"); /* IE9 */
    font-style: normal;
    font-weight: normal;
}
